@font-face {
    font-family: Gotham-Black;
    src: url(gotham-black.ttf);
}

.banner{
    position: relative;
    width: 300px;
    height: 250px;
    background-image: url("images/img.jpg");
    overflow: hidden;    
    font-family: Gotham-Black;
}

#click{
    position: absolute;
    width: 300px;
    height: 175px;
    margin: 0px 0px 75px 0px;
    //border: 1px solid red;
}

.premiu{
    position: absolute;
    margin-top: 187px;    
    margin-left: 196.5px;
    width: 81px;
    height: 51px;    
}

#premiu1{
    background-image: url("images/premiu1.png");
}

#premiu2{
    background-image: url("images/premiu2.png");
}

#premiu3{
    background-image: url("images/premiu3.png");    
}

#sageata{
    position: absolute;
    margin-top: 187px;
    margin-right: 0px;
    margin-left: 250px;
    width: 81px;
    height: 51px;
    opacity: 0.5;
    background-image: url("images/sageata.png");
    animation: anim 2.5s infinite;
    -webkit-animation: anim 3s infinite;
}

@-webkit-keyframes anim{
    from{
        left: 10px;
    }
    to{
        left: -300px;
    }
}

@keyframes anim{
    from{
        left: 10px;
    }
    to{
        left: -300px;
    }
}

#logo{
    position: absolute;
    margin-top: -4px ;
    margin-left: -58px;
    background-color: #fedb00;
}

#mesaj{    
    height: 75px;
    position: absolute;
    display: inline-block;
    margin-top: 170px;
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 58px;
    float: left;
    max-width: 150px;
    line-height: 6px;
    font-size: 11px;
    text-align: left;
    align-content: center;
    color: #da291c;

}

.swipe{
    width: 300px;
    height: 75px;
    position: absolute;
    margin: 175px 0 0 0;    
}